[Unit]
Description=Lapp Backend

[Service]
ExecStart=/usr/bin/npm run prod -- --port=3333
WorkingDirectory=/home/sebastian/repo/lapp-backend
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target